/* RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* /RULES */

/* HEADER */

header {
  width: 100%;
  background-color: #ff6900;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

header .container {
  margin: 20px auto;
}

header .container,
footer .container {
  width: 1330px;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 150px;
  height: 35px;
}

.socials ul {
  max-width: 80px;
}

header ul {
  font-weight: bold;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

/* /HEADER */

/* MAIN */

main {
  padding-top: 60px;
}
main li:nth-of-type(2) {
  font-weight: bold;
}

.before {
  font-weight: bold;
  color: red;
}

.after {
  text-decoration: line-through;
}

.megacontainer {
  display: flex;
  flex-wrap: wrap;
  width: 1350px;
  margin: 60px auto;
  gap: 20px;
}

.top {
  position: relative;
  display: flex;
}

.top:hover img.back {
  opacity: 1;
}

.box {
  width: calc((100% - 40px) / 3);
  padding: 10px 0;
}

img.front,
img.back {
  max-width: 100%;
  /*  display: block; */
}

img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.heart {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  z-index: 99;
}

.heart:hover {
  color: red;
}

.icons {
  position: absolute;
  left: 0;
  bottom: 50px;
  color: white;
}

.red,
.green {
  padding: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/* /MAIN */

/* FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 50px 0;
}

footer .container {
  margin: 0 auto;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 20px;
}
/* /FOOTER */
