* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

li:nth-of-type(2) {
  font-weight: bold;
}

.before {
  font-weight: bold;
  color: red;
}

.after {
  text-decoration: line-through;
}

.megacontainer {
  display: flex;
  flex-wrap: wrap;
  width: 1350px;
  margin: 60px auto;
  gap: 20px;
}

.top {
  position: relative;
  display: flex;
}

.top:hover img.back {
  opacity: 1;
}

.box {
  width: calc(100% / 3 - 20px);
  padding: 10px 0;
}

img.front,
img.back {
  max-width: 100%;
}

img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.heart {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
}

.icons {
  position: absolute;
  left: 0;
  bottom: 50px;
  color: white;
}

.red,
.green {
  padding: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
